@font-face {
  font-family: "Arbutus Slab";
  src: local("Arbutus Slab"), local("ArbutusSlab-Regular"),
    url("./Arbutusslab.woff2") format("woff2"),
    url("./Arbutusslab.woff") format("woff"),
    url("./Arbutusslab.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
